<div class="login-container">
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">Sign in</mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            type="email"
            placeholder="Email"
          />
          <mat-error *ngIf="email.hasError('required')">
            Email é obrigatório!
          </mat-error>

          <mat-error *ngIf="email.hasError('email')">
            Entre com um email válido!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            formControlName="password"
            matInput
            type="password"
            placeholder="Senha"
          />
          <mat-error *ngIf="password.hasError('required')">
            Senha é obrigatório!
          </mat-error>

          <mat-error *ngIf="password.hasError('minlength')">
            Senha deve ter no mínimo 6 caracteres!
          </mat-error>
        </mat-form-field>
        <button
          [disabled]="loginForm.invalid"
          mat-button
          type="submit"
          color="primary"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
