<div class="login-container">
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">Sign in</mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            type="email"
            placeholder="Email"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            formControlName="password"
            matInput
            type="password"
            placeholder="Senha"
          />
        </mat-form-field>
        <button
          [disabled]="loginForm.invalid"
          mat-button
          type="submit"
          color="primary"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
