<div class="login-container">
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary"
        ><span>{{ configs.actionText }}</span>
        <span class="spacer"></span>
        <mat-spinner
          diameter="25"
          strokeWidth="2"
          *ngIf="configs.isLoading"
        ></mat-spinner>
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field *ngIf="!configs.isLogin">
          <input
            formControlName="name"
            matInput
            type="text"
            placeholder="Nome"
          />
          <mat-error *ngIf="name.hasError('required')">
            Nome é obrigatório!
          </mat-error>

          <mat-error *ngIf="name.hasError('minlength')">
            Nome deve ter no mínimo 6 caracteres!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            formControlName="email"
            matInput
            type="email"
            placeholder="Email"
          />
          <mat-error *ngIf="email.hasError('required')">
            Email é obrigatório!
          </mat-error>

          <mat-error *ngIf="email.hasError('email')">
            Entre com um email válido!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            formControlName="password"
            matInput
            type="password"
            placeholder="Senha"
          />
          <mat-error *ngIf="password.hasError('required')">
            Senha é obrigatório!
          </mat-error>

          <mat-error *ngIf="password.hasError('minlength')">
            Senha deve ter no mínimo 6 caracteres!
          </mat-error>
        </mat-form-field>

        <mat-slide-toggle
          color="primary"
          [checked]="authService.keepSigned"
          (change)="onKeepSigned()"
          >Mantenha-me conectado</mat-slide-toggle
        >
        <mat-slide-toggle
          color="primary"
          [checked]="authService.rememberMe"
          (change)="onRememberMe()"
          >Lembrar credenciais</mat-slide-toggle
        >

        <button
          [disabled]="loginForm.invalid"
          mat-button
          type="submit"
          color="primary"
        >
          {{ configs.actionText }}
        </button>
        <button
          type="button"
          (click)="changeAction()"
          mat-button
          color="primary"
        >
          {{ configs.buttonActionText }}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
